*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a{
    color: white;
    display: inline-block;
}

.big{
    width: 96%;
    height: auto;
    background-color: rgb(22,23,34);
    /* margin-left: 200px; */
  
    
    

}
.content{
   /*  width: 985.8px;
    height: 100vh; */
    /* background-color: aqua; */
    background-color: rgb(22,23,34);
    margin-left: 30px;
    line-height: -90px;
    color: azure;
  
    
}
.light{
width: 328.6px;
height: 100%;
/* background-color: blanchedalmond; */
background-color: rgb(22,23,34);
margin-left: 985px;
margin-top: -47px;
line-height: -90px;
position: relative;
color: azure;


}

.on .item {
    display: flex;
    align-items: center;
    font-size: 18px;



 
}

.on>.item>img{
    width: 20px;
    height: 20px;
    line-height: 100px;
}
